.account-flex-container {
    display:flex;
    align-items:center;
    position:absolute;
    z-index:-1;
    top:0;
    height:100%;
    width:100%;

    .account-container {
        margin:0 auto;
        background-color:#fff;
        width:480px;
        padding:30px 40px;
        border-radius:10px;

        h2 {
            text-align: center;
            margin:0 0 25px 0;
            font-size:25px;
        }

        .btn-lg {
            height: 48px;
            border-radius: 24px;
            width: 100%;
        }

        .buttom-link {
            margin-top: 15px;
            text-align: center;
            a {
                color: rgba(0, 0, 0, .6);
            }
        }
    }
}

